@font-face {
    font-family: Myriad Pro;
    src: url(Myriad_Pro_Regular.ttf);
}
body {
    font-family: Myriad Pro;
}


.hidden {
    display:none;
}

nav{
    position: fixed;
    color: #554E4E;
}


.container {
    padding: 0%;
    width: 50%

}

.btnlogin{
    width: 30%;
    border-radius: 50px;
    padding: 1%;
    outline: 0px;
    border: none;
    
}

#register,
#signinbtn,
#btnUpdate,
#btnDelete,
#btnPost,
#btnlike {
    background-color: #B1EAC8;
    color: #554E4E;
    border: 1px solid #B1EAC8;
    margin: 2%;
}

#btnFacebook{
    background: #4267b2;
        border-radius: 5px;
        color: white;
        height: 40px;
        text-align: center;
        width: 250px;
}
#btnGoogle{
    display: inline-block;
    background: white;
    color: #554E4E;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}
.nav-wrapper{
    background-color: #B1EAC8;
    display: flex;
    justify-content: flex-end;
  
}

.sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
}

.row,
.col s12 m6 offset-m3{
    width: 120%;
    padding: 0%;
    margin: 0%;
}

#wall
#post{
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.dropdown-trigger{
    color: #554E4E;
    font-size: 15%
}


@media(max-width: 600 px) {
    .row,
    .col s12 m6 offset-m2{
    width: 80%;
    padding: 0%;
    margin: 0%;
}
}
